{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Reset CSS-->
    <link rel="stylesheet" href="{% static 'css/ress.css' %}">
    <style>
        body {
            font-family: 'Khula', sans-serif;
        }

        .btn-dark,
        .btn-primary {
            border-radius: 0;
        }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

        .card {
            transition: 0.3s;
        }
    </style>
    {% include 'ga.html' %}
</head>

<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
                <div style="height: 90vh;">
                    <img style="max-width: 100%; max-height: 100%;" src="{{photo.image.url}}"
                        alt="{{photo.description}}">
                    <p>{{photo.description}}</p>
                </div>

            </div>
        </div>
    </div>

</body>

</html>